<div *ngIf="appState == 'default'">
  <h3>ADD TO LIST</h3>
  <form (submit)="addTodo()">
    <input class="form-control" type="text" name="text" [(ngModel)]="text">
  </form>
</div>
<div *ngIf="appState == 'edit'">
  <h3>EDIT LIST</h3>
  <form (submit)="updateTodo()">
    <input class="form-control" type="text" name="text" [(ngModel)]="text">
  </form>
</div>
<div class="m-3">
  <h4>LIST OF ITEMS</h4>
  <ol>
    <li *ngFor="let todo of todos">
      <span class="listtodo" (click)="editTodo(todo)">{{todo.text}}
        <button class="btn bg-dark btn-sm" (click)="deleteTodo(todo.text)">X</button>
      </span>
    </li>
  </ol>
</div>
